<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>회원 번호</th>
            <th>이메일</th>
            <th>이름</th>
            <th>좋아요 한 목록</th>
        </tr>
        <tr>
            <td th:text="${userInfo.get().getNUM()}"></td>
            <form action="/Email_Check" method="post"><td><input name="Email" th:value="${userInfo.get().getID()}" readonly><button>이메일 인증하기</button></td></form>
            <td th:text="${userInfo.get().getNickName()}"></td>
            <td th:text="${userInfo.get().getLiked()}"></td>
        </tr>
    </table>
</body>
</html>