<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>키워드로 장소검색하기</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<div id="map" style="width:100%;height:350px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=43ac3e8aa8a7b72636e0af7f67ee5e40&libraries=services"></script>
<input id="keyword" placeholder="키워드를 입력하세요"><button onclick="searchPlaces()">제출하기</button>

<script>
    var XX;
    var YY;
    var place_name;
    function searchPlaces() {
        const keyword = $("#keyword").val();
        $.ajax({
            type: "post",
            url: "/kakao",
            data: {"keyword": keyword},
            dataType: "JSON",
            success: function (result) {
                XX = result.x;
                YY = result.y;
                console.log(XX);
                console.log(YY);
                displayMarker();
            }
        });
        const keyword1 = {keyword : keyword,};
        axios.post('/kakao',keyword1
        ).then((res)=>{
            XX = res.x;
            YY = res.y;

        })
    }



    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.41992130568894, 127.12651405761832), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };
    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 지도에 마커를 표시하는 함수입니다
    function displayMarker() {

        // 마커를 생성하고 지도에 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(YY, XX)
        });

    }
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });
    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);
</script>

</body>
</html>