<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="'안녕하세요. ' + ${username}" ></h1>
    <center><a href="/login">로그인 화면 가기</a></center>
    <center><a href="/sign_up">회원가입 화면 가기</a></center>
    <center><a type="submit" href="/logout">로그아웃</a></center>
    <center><a type="submit" href="/User_Info">마이페이지</a></center>
    <center><a href="/plan/save" role="button" class="btn btn-primary">일정만들기</a></center>
    <center><a type="submit" href="/public_plan">public_plan가기</a></center>
    <center><a type="submit" href="/map">맵가기</a></center>
    <center><a type="submit" href="/APItest">APItest가기</a></center>

    <form action="/kakao" method="post">
        <input name="keyword"><button>키워드 값 제출</button>
    </form>
    <form action="/Weather" method="get">
        <input name="Date"><button>날짜 값 제출</button>
    </form>


</body>
</html>