<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="'안녕하세요. ' + ${username}" ></h1>
    <center><a href="/">메인 화면 가기</a></center>
    <center><a href="sign_up">회원가입 화면 가기</a></center>
    <form action="/loginpro" method="post">
        아이디 : <input name="username"><br>
        비밀번호 : <input type="password" name="password"><br>
        <div th:if="${param.error}">
            <p th:text="${exception}" class="alert alert-danger"></p>
        </div>
        <button type="submit">로그인하기</button>
    </form>
    <center><a type="submit" href="/logout">로그아웃</a></center>
    <center><a type="submit" href="/User_Info">마이페이지</a></center>
    <center><a href="/plan/save" role="button" class="btn btn-primary">일정만들기</a></center>
    <center><a type="submit" href="/public_plan">public_plan가기</a></center>
</body>
</html>