<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <h1 th:text="'안녕하세요. ' + ${username}" ></h1>
    <center><a href="/">메인 화면 가기</a></center>
    <center><a href="login">로그인 화면 가기</a></center>
    <form action="/sign_uppro" method="post">
        아이디 : <input type="text" id="username" name="username" placeholder="아이디를 입력하세요">
        <input class="btn btn-outline-primary btn-sm idCheck mx-1" type="button" id="usernameOverlay" onclick="usernameCheck()" value="중복 체크"/><br>
        비밀번호 : <input name="password" type="password" placeholder="비밀번호를 입력하세요"><br>
        사용자 이름 : <input name="UserName" placeholder="이름을 입력하세요"><br>
        좋아요 목록 : <input name="liked" placeholder="좋아요를 입력하세요"><br>
        <button type="submit">회원가입</button>
    </form>
    <center><a type="submit" href="/logout">로그아웃</a></center>
    <center><a type="submit" href="/User_Info">마이페이지</a></center>

<script src="/js/idcheck.js"> </script>
</body>

</html>